@model Registration_Login_ASP_Dot_Net_MVC.Models.AccountModel.RegisterViewModel

<head>
    <script src="https://www.google.com/recaptcha/api.js?render=[your_site_key]"></script>
    <title>@ViewData["Title"] Register</title>
</head>

<div class="container mt-5">
    <div class="row justify-content-center mt-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header"><h3>Register</h3></div>
                <div class="card-body">
                    <form id="registerForm" asp-controller="Account" asp-action="Register" method="post">
                        <div class="form-group">
                            <label asp-for="Username">Username:</label>
                            <input asp-for="Username" class="form-control mt-2" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <label asp-for="Email">Email:</label>
                            <input asp-for="Email" class="form-control mt-2" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <label>Password:</label>
                            <div class="input-group">
                                <input asp-for="Password" id="passwordInput" type="password" class="form-control mt-2" />
                                <button class="btn btn-outline-secondary mt-2" type="button" onclick="togglePasswordVisibility('passwordInput', 'passwordToggleIcon')" style="min-width: 38px">
                                    <i id="passwordToggleIcon" class="fa fa-eye" aria-hidden="true" style="font-size: 14px;"></i>
                                </button>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-2">
                            <label>Confirm Password:</label>
                            <div class="input-group">
                                <input asp-for="ConfirmPassword" id="confirmPasswordInput" type="password" class="form-control mt-2" />
                                <button class="btn btn-outline-secondary mt-2" type="button" onclick="togglePasswordVisibility('confirmPasswordInput', 'confirmPasswordToggleIcon')" style="min-width: 38px">
                                    <i id="confirmPasswordToggleIcon" class="fa fa-eye" aria-hidden="true" style="font-size: 14px;"></i>
                                </button>
                            </div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <input type="hidden" id="recaptchaToken" name="recaptchaToken" />
                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-primary" onclick="onRegisterSubmit(event)">Register</button>
                            <a href="@Url.Action("Index", "Home")" class="btn btn-dark">Back to Home</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        function togglePasswordVisibility(inputId, iconId) {
            var x = document.getElementById(inputId);
            var icon = document.getElementById(iconId);
            if (x.type === "password") {
                x.type = "text";
                icon.className = "fa fa-eye-slash";
            } else {
                x.type = "password";
                icon.className = "fa fa-eye";
            }
        }
        function onRegisterSubmit(event) {
            event.preventDefault();
            grecaptcha.ready(function () {
                grecaptcha.execute('[your_site_key]', { action: 'register' }).then(function (token) {
                    document.getElementById('recaptchaToken').value = token;
                    document.getElementById('registerForm').submit();
                });
            });
        }
    </script>
}
